doctype 5
html(lang="en", ng-app="exporter")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    title Asana Exporter
    link(rel="stylesheet", href="/css/app.css")
  body
    h1 ASANA
    script(src="bower_components/angular/angular.js")
    script(src="js/app.js")